@page "/" 
@inject IIndexViewModel IndexViewModel

<h1>Shopping Cart</h1>
<ul>
    @foreach (var item in IndexViewModel.ShoppingCart.Items)
    {
        <li class="list-group-item">
            @item.Quantity of @item.Product.Name at @item.Product.Price each = @item.Total 
        </li>
    }
</ul>
<div>
    Total: @IndexViewModel.ShoppingCart.Total
</div>
<br />
<button @onclick="IndexViewModel.UpdateModels">Update Models</button>
