@page "/" 
@inject IIndexViewModel IndexViewModel

<h1>Shopping Cart</h1>
<select 
		size="6" 
		style="width:100%"
		@onchange="IndexViewModel.SelectCartItemModel">
    @foreach (var item in IndexViewModel.ShoppingCart.Items)
	{
		 <option value="@item.Id">@item.Product.Name</option>
	}
</select>
<div>
    Total: @IndexViewModel.ShoppingCart.Total
</div>
<br />
@if(IndexViewModel.SelectedCartItemModel != null)
 {
	<span>@IndexViewModel.SelectedCartItemModel.Product.Name Price:</span>
	<input type="number" 
		   @bind="IndexViewModel.SelectedCartItemModel.Product.Price" 
		   @bind:event="oninput" />
 }

<h4>Computed Value</h4>
<div>
	@IndexViewModel.ComputedValue
</div>

<button @onclick="IndexViewModel.UpdateModels">Add $1.00 to first product</button>
